---
layout: default
title: The comparison
types:
    - cipher
    - compression
    - hostkey
    - kex
    - mac
    - userauth
---

{% for type in page.types %}
{% include namelist.html type=type %}

<h3>{{ site.data.proto_classes[type] }}</h3>

<!-- <div id='cmp-table-{{ type }}-parent' class='cmp-table-parent-scroll'> -->
<table id='cmp-table-{{ type }}' class='impl-comparison impl-comparison-scroll'>  <!-- table-header-rotated -->
<thead>
  <tr>
    <th>id</th>
    <th class='rotate'><div><span>Specification</span></div></th>
    {% for impl in site.impls %}
    <th class='rotate'><div><span><a href='{{ impl.url }}'>{{ impl.title }}</a></span></div></th>
    {% endfor %}
    <th class='rotate'><div><span># of impls</span></div></th>
  </tr>
</thead>
<tbody>
{% for item in namelist %}
  {% assign counter = 0 %}
  <tr>
    <td>{{ item }}</td>
    <td>
    {% for spec in site.data.specs %}
      {% if spec[1].protocols[type] contains item %}
        <a href='{{ spec[1].url }}'>{{ spec[1].name }}</a>
      {% endif %}
    {% endfor %}
    </td>
    {% for impl in site.impls %}
      {% if impl.protocols contains type %}
        {% if impl.protocols[type] contains item %}
          <td class='yes'>Yes</td>
          {% assign counter = counter | plus: 1 %}
        {% else %}
          <td class='no'>No</td>
        {% endif %}
      {% else %}
        <td class='unknown'>?</td>
      {% endif %}
    {% endfor %}
    <td>{{ counter }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
<!-- </div> -->

{% endfor %}

<script>
$(document).ready(function(){ 
{% for type in page.types %}
$('#cmp-table-{{ type }}').DataTable( {
        scrollY:        "500px",
        scrollX:        true,
        scrollCollapse: true,
        colReorder:     true,
        rowReorder:     true,
        //hover: true,
        paging:         false,
        searching:      false,
        info:           false,
        heightMatch:    'none',
        fixedColumns:   {
            leftColumns: 1,
            rightColumns: 1
        }
    } );
{% endfor %}
});
</script>
