---
layout: default
title: The comparison
types:
    - cipher
    - compression
    - hostkey
    - kex
    - mac
    - userauth
---

{% for type in page.types %}

<h3>{{ site.data.proto_classes[type] }}</h3>

<table id='cmp-table-{{ type }}' class='impl-comparison table-header-rotated compact'>
{% include cmp-table.html type=type scroll=true %}
</table>

{% endfor %}

<script>
$(document).ready(function(){ 
{% for type in page.types %}
$('#cmp-table-{{ type }}').DataTable( {
        scrollY:        "700px",
        scrollX:        true,
        scrollCollapse: true,
        //colReorder:     true,
        //rowReorder:     true,
        //hover: true,
        paging:         false,
        searching:      false,
        info:           false,
        heightMatch:    'none',
        fixedColumns:   {
            leftColumns: 1,
            rightColumns: 1
        }
    } );
{% endfor %}
});
</script>
