---
layout: default
---

<div class="home">

<ul>
<li><strong>
<a href='{{ site.baseurl }}/comparison/cipher.html'>Go to the comparison page.</a>
</strong>

<li><a href="{{ site.baseurl }}/about">Learn what this is all about.</a>

<li>
<a href='https://github.com/fingolfin/ssh-comparison'>Get the
source code for this site on GitHub.</a>
Pull requests and issue reports are highly welcome.


<li> <a href='specs.html'>Some SSH related specifications.</a>


<li> Relevant Wikipedia articles:
  <ul>
  <li><a href='https://en.wikipedia.org/wiki/Secure_Shell'>Secure Shell</a>
  <li><a href='https://en.wikipedia.org/wiki/Comparison_of_SSH_clients'>Comparison of SSH clients</a>
  <li><a href='https://en.wikipedia.org/wiki/Comparison_of_SSH_servers'>Comparison of SSH servers</a>
  </ul>
</ul>


<h1 class="page-heading">Implementations</h1>

The following {{ site.impls | size }} implementations are currently covered:

<table id="impl-list" class="tablesorter" style="padding: 1em;">
<thead>
  <tr>
    <th>Name</th>
    <th>First release date</th>
    <th>Last release version</th>
    <th>Last release date</th>
    <th>License</th>
    <th>Based on</th>
  </tr>
</thead>
<tbody>
{% for impl in site.impls %}
  <tr>
    <td style="background: #ececec; font-weight: bold;"><a href="{{ impl.url }}">{{ impl.title }}</a></td>
    <td>{{ impl.first-release.date }}</td>
    <td>{{ impl.latest-release.version }}</td>
    <td>{{ impl.latest-release.date }}</td>
    <td>{{ impl.license | markdownify | strip_newlines | remove:'<p>' | remove:'</p>' }}</td>
    <td>{% if impl.based-on %}{{ impl.based-on | markdownify | strip_newlines | remove:'<p>' | remove:'</p>' }}{% endif %}</td>
  </tr>
{% endfor %}
</tbody>
</table>

</div>

<script>
$(document).ready(function(){
$('#impl-list').DataTable( {
        paging:         false,
        searching:      false,
        info:           false,
        heightMatch:    'none',
        fixedColumns:   {
            leftColumns: 1,
            rightColumns: 1
        }
    } );
});
</script>
