{% assign type = include.type  %}
{% include namelist.html type=type %}
<thead>
  <tr>
    <th>id</th>
    <th class='rotate'><div><span>Specification</span></div></th>
    {% for impl in site.impls %}
    <th class='rotate'><div><span><a href='{{ impl.url }}'>{{ impl.title }}</a></span></div></th>
    {% endfor %}
    {% if include.scroll %}<th class='rotate only-for-scroll'><div><span><!-- dummy -->&nbsp;</span></div></th>{% endif %}
    <th class='rotate'><div><span># of impls</span></div></th>
  </tr>
{% if include.scroll %}
  <tr class="only-for-scroll"> <!-- second column for sorting -->
    <th class="only-for-scroll"> </th> <!-- id -->
    <th class="only-for-scroll"> </th> <!-- spe -->
    {% for impl in site.impls %}
    <th class="only-for-scroll">&nbsp;</th> <!-- impl -->
    {% endfor %}
    <th class="only-for-scroll"> </th> <!-- dummy -->
    <th class="only-for-scroll"> </th> <!-- # of impls -->
  </tr>
{% endif %}
</thead>
<tbody>
{% for item in namelist %}
  {% assign counter = 0 %}
  <tr>
    <td>{{ item }}</td>
    <td>
    {% for spec in site.data.specs %}
      {% if spec[1].protocols[type] contains item %}
        <a href='{{ spec[1].url }}'>{{ spec[1].name }}</a>
      {% endif %}
    {% endfor %}
    </td>
    {% for impl in site.impls %}
      {% if impl.protocols contains type %}
        {% if impl.protocols[type] contains item %}
          <td class='yes'>Yes</td>
          {% assign counter = counter | plus: 1 %}
        {% else %}
          <td class='no'>No</td>
        {% endif %}
      {% else %}
        <td class='unknown'>?</td>
      {% endif %}
    {% endfor %}
    {% if include.scroll %}<td class="only-for-scroll"><!-- dummy -->&nbsp;</td>{% endif %}
    <td>{{ counter }}</td>
  </tr>
{% endfor %}
</tbody>
