{% capture cache %}
{% assign type = include.type  %}
{% assign namelist = "" | split: ""  %}
{% for impl in site.impls %}
  {% for name in impl.protocols[type] %}
    {% unless namelist contains name %}
      {% assign namelist = namelist | push: name  %}
    {% endunless %}
  {% endfor %}
{% endfor %}
{% for spec in site.data.specs %}
  {% for name in spec[1].protocols[type] %}
    {% unless namelist contains name %}
      {% assign namelist = namelist | push: name  %}
    {% endunless %}
  {% endfor %}
{% endfor %}
{% assign namelist = namelist | sort  %}
{% endcapture %}{% assign cache = nil %}
